{
    "parser": "@babel/eslint-parser",
    "parserOptions": {
      "ecmaVersion": 12,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      },
      "babelOptions": {
        "presets": ["@babel/preset-react"]
      }
    },
    "plugins": ["react"],
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
    ],
    "rules": {
      "react/prop-types": "off",
      "react/react-in-jsx-scope": "off" 
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    }
}
  